*.bgn
*.bin
*.mrp
*.ibs
*.mcs
*.mrp
*.pad
*.par
*.sso
*.tw1
*.twr
*.vo
*.sdf
*.vm
*.udb
*.*~
Makefile~
pmi_ram_dq_inst/impl_1
spram_inst/impl_1
tb
*.vcd
/spram_inst/spram_isnt_tcr.dir/pn190514124553.tcr
*.tcr
